# Modifications away from https://github.com/Mailtrain-org/mailtrain/blob/master/config/default.toml

user="mailtrain"
group="mailtrain"
[log]
level="error"
[www]
port={{ mailtrain_port }}
secret="{{ mailtrain_secret }}"
[mysql]
user="{{ mailtrain_mysql_username }}"
password="{{ mailtrain_mysql_password }}"
[redis]
enabled=true
password="{{ mailtrain_redis_password }}"
[queue]
processes=5
[cors]
# Allow subscription widgets to be embedded
origins="{{ mailtrain_cors_origins }}"
[reports]
enabled="{{ mailtrain_reports }}"