# Modifications away from https://github.com/Mailtrain-org/mailtrain/blob/master/workers/reports/config/default.toml

[log]
level="error"
[mysql]
user="{{ mailtrain_mysql_username_ro }}"
password="{{ mailtrain_mysql_password_ro }}"
